AlergomuciaMVC/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55577/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlergomurciaService" />
  <xs:import schemaLocation="http://localhost:55577/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AlergomurciaService.Model" />
  <xs:element name="GetAllSection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AlergomurciaService" minOccurs="0" name="GetAllSectionResult" nillable="true" type="q1:ArrayOfSection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AlergomurciaService" minOccurs="0" name="GetSectionByIdResult" nillable="true" type="q2:Section" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AlergomurciaService" minOccurs="0" name="section" nillable="true" type="q3:Section" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AlergomurciaService" minOccurs="0" name="AddSectionResult" nillable="true" type="q4:Section" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AlergomurciaService" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q5:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDocuments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AlergomurciaService" minOccurs="0" name="GetAllDocumentsResult" nillable="true" type="q6:ArrayOfDocumentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReuniones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReunionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AlergomurciaService.Model" minOccurs="0" name="GetAllReunionesResult" nillable="true" type="q7:ArrayOfReuniones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNoticias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNoticiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AlergomurciaService.Model" minOccurs="0" name="GetAllNoticiasResult" nillable="true" type="q8:ArrayOfNoticias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArticulos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArticulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AlergomurciaService.Model" minOccurs="0" name="GetAllArticulosResult" nillable="true" type="q9:ArrayOfArticulos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>