AlergomuciaMVC/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55577/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55577/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55577/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlergomurciaService" />
      <xsd:import schemaLocation="http://localhost:55577/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AlergomurciaService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetAllSection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSection" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSectionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionById" />
  </wsdl:message>
  <wsdl:message name="IService_GetSectionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddSection_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSection" />
  </wsdl:message>
  <wsdl:message name="IService_AddSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDocuments" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllReuniones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReuniones" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllReuniones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReunionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllNoticias_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNoticias" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllNoticias_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNoticiasResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllArticulos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArticulos" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllArticulos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArticulosResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetAllSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllSection" message="tns:IService_GetAllSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllSectionResponse" message="tns:IService_GetAllSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSectionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSectionById" message="tns:IService_GetSectionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSectionByIdResponse" message="tns:IService_GetSectionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddSection" message="tns:IService_AddSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddSectionResponse" message="tns:IService_AddSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllUsers" message="tns:IService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllUsersResponse" message="tns:IService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllDocuments" message="tns:IService_GetAllDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllDocumentsResponse" message="tns:IService_GetAllDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReuniones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllReuniones" message="tns:IService_GetAllReuniones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllReunionesResponse" message="tns:IService_GetAllReuniones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNoticias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllNoticias" message="tns:IService_GetAllNoticias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllNoticiasResponse" message="tns:IService_GetAllNoticias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllArticulos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllArticulos" message="tns:IService_GetAllArticulos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllArticulosResponse" message="tns:IService_GetAllArticulos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSection">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSectionById">
      <soap:operation soapAction="http://tempuri.org/IService/GetSectionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSection">
      <soap:operation soapAction="http://tempuri.org/IService/AddSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocuments">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReuniones">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllReuniones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNoticias">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllNoticias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllArticulos">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllArticulos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:55577/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>